<table cellpadding="20px" style="border-collapse:collapse" border="1px">
    <tr><th>Index</th><th>Student Details</th></tr>
    <tr><td>Roll no</td><td>{{student.id}}</td></tr>
    <tr><td>Name of the Student</td><td>{{student.name}}</td></tr>
    <tr><td>Degree of the Student</td><td>{{student.degree}}</td></tr>
    <tr><td>Course Assigned</td><td>{{student.course}}</td></tr>
    <tr><td>Student Residence</td><td>{{student.loc}}</td></tr>
    <tr><td>No of present Hours</td><td>{{student.present}}</td></tr>
    <tr><td>No of Absent Hours</td><td>{{student.absent}}</td></tr>
    <tr><td>Attendance %</td><td>{{student.attendance}}</td></tr>
</table>
<table cellpadding="10px" style="border-collapse:collapse;position:absolute;top:20%;left:30%;width:50%;display: block;overflow-x: auto;white-space: nowrap;" border="1px">
    <tr><th *ngFor="let a of arr[0];index as i">{{i+1}}</th></tr>

    <tr *ngFor="let a of arr"><td *ngFor="let a1 of a"><input type="checkbox" *ngIf="a1" checked style="width:20px;height:20px" class="check"><input type="checkbox" *ngIf="!a1" style="width:20px;height:20px" class="check"></td></tr>
</table>

<div class="card" style="position:absolute;top:85%;left:30%">
    <div class="card-header" *ngIf="grades.sem1>9" style="background-color: greenyellow;color:black">Sem - 1</div>
<div class="card-header" *ngIf="grades.sem1>8 && grades.sem1<9" style="background-color: purple;color:white">Sem - 1</div>
<div class="card-header" *ngIf="grades.sem1<8 && grades.sem1>6" style="background-color: orange;color:black">Sem - 1</div>
    <div class="card-header" *ngIf="grades.sem1<6" style="background-color: red;color:white">Sem - 1</div>


    <div class="card-body">{{grades.sem1}}</div>
    </div>

<div class="card" style="position:absolute;top:85%;left:40%">
    <div class="card-header" *ngIf="grades.sem2>9" style="background-color: greenyellow;color:black">Sem - 2</div>

<div class="card-header" *ngIf="grades.sem2>8 && grades.sem2<9" style="background-color: purple;color:white">Sem - 2</div>
<div class="card-header" *ngIf="grades.sem2<8 && grades.sem2>6" style="background-color: orange;color:black">Sem - 2</div>
    <div class="card-header" *ngIf="grades.sem2<6" style="background-color: red;color:white">Sem - 2</div>

    <div class="card-body">{{grades.sem2}}</div>
</div>

<div class="card" style="position:absolute;top:85%;left:50%">
    <div class="card-header" *ngIf="grades.sem3>9" style="background-color: greenyellow;color:black">Sem - 3</div>

<div class="card-header" *ngIf="grades.sem3>8 && grades.sem3<9" style="background-color: purple;color:white">Sem - 3</div>
<div class="card-header" *ngIf="grades.sem3<8 && grades.sem3>6" style="background-color: orange;color:black">Sem - 3</div>
    <div class="card-header" *ngIf="grades.sem3<6" style="background-color: red;color:white">Sem - 3</div>

    <div class="card-body">{{grades.sem3}}</div>
    </div>

    <div class="card" style="position:absolute;top:85%;left:60%">
        <div class="card-header" *ngIf="grades.sem4>9" style="background-color: greenyellow;color:black">Sem - 4</div>

<div class="card-header" *ngIf="grades.sem4>8 && grades.sem4<9" style="background-color: purple;color:white">Sem - 4</div>
<div class="card-header" *ngIf="grades.sem4<8 && grades.sem4>6" style="background-color: orange;color:black">Sem - 4</div>
    <div class="card-header" *ngIf="grades.sem4<6" style="background-color: red;color:white">Sem - 4</div>

        <div class="card-body">{{grades.sem4}}</div>
        </div>

        <div class="card" style="position:absolute;top:85%;left:70%">
            <div class="card-header" *ngIf="grades.sem5>9" style="background-color: greenyellow;color:black">Sem - 5</div>

            <div class="card-header" *ngIf="grades.sem5>8 && grades.sem5<9" style="background-color: purple;color:white">Sem - 5</div>
            <div class="card-header" *ngIf="grades.sem5<8 && grades.sem5>6" style="background-color: orange;color:black">Sem - 5</div>
                <div class="card-header" *ngIf="grades.sem5<6" style="background-color: red;color:white">Sem - 5</div>

                <div class="card-body">{{grades.sem5}}</div>
            </div>

            <div class="card" style="position:absolute;top:110%;left:30%">
                <div class="card-header" *ngIf="grades.sem6>9" style="background-color: greenyellow;color:black">Sem - 6</div>

<div class="card-header" *ngIf="grades.sem6>8 && grades.sem6<9" style="background-color: purple;color:white">Sem - 6</div>
<div class="card-header" *ngIf="grades.sem6<8 && grades.sem6>6" style="background-color: orange;color:black">Sem - 6</div>
    <div class="card-header" *ngIf="grades.sem6<6" style="background-color: red;color:white">Sem - 6</div>

                <div class="card-body">{{grades.sem6}}</div>
                </div>
                <div class="card" style="position:absolute;top:110%;left:40%">
                    <div class="card-header" *ngIf="grades.sem7>9" style="background-color: greenyellow;color:black">Sem - 7</div>

<div class="card-header" *ngIf="grades.sem7>8 && grades.sem7<9" style="background-color: purple;color:white">Sem - 7</div>
<div class="card-header" *ngIf="grades.sem7<8 && grades.sem7>6" style="background-color: orange;color:black">Sem - 7</div>
    <div class="card-header" *ngIf="grades.sem7<6" style="background-color: red;color:white">Sem - 7</div>

                    <div class="card-body">{{grades.sem7}}</div>
                    </div>
                    <div class="card" style="position:absolute;top:110%;left:50%">
                        <div class="card-header" *ngIf="grades.sem8>9" style="background-color: greenyellow;color:black">Sem - 8</div>

                        <div class="card-header" *ngIf="grades.sem8>8 && grades.sem8<9" style="background-color: purple;color:white">Sem - 8</div>
                        <div class="card-header" *ngIf="grades.sem8<8 && grades.sem8>6" style="background-color: orange;color:black">Sem - 8</div>
                            <div class="card-header" *ngIf="grades.sem8<6" style="background-color: red;color:white">Sem - 8</div>
                                                <div class="card-body">{{grades.sem8}}</div>
                        </div>

